<%if !flash[:notice].blank? %>
<div align="center" class="flash">
	<%=flash[:notice]%>
</div>
<%end%>
<%=render(:partial=>'shared/header_of_details',:locals=>{:object => @user } ) %>

<div align="center"  class="book">


<h3>Do you want to delete this record ?</h3>

<table border="0">
	<tr>
		<td width="120">
			<%= link_to(" back to records",{:action=>'list'} ) %>
		</td>
		
		<td colspan="2">
			<%= form_for(:book, :url => { :action =>'destroy' ,:id=> @book.id} ) do |f| %>
		</td>
	</tr>
	
	<tr>
		<td width="120">
			Book name :
		</td>
		
		<td colspan="2">
		 <%= @book.name %><br/>
		</td>
	</tr>

<tr>
		<td width="120">
			Author : 
		</td>
		
		<td colspan="2">
			<%= @book.author %>
			<%= excerpt(@book.author,'includes',:radius=> 2 ,:omission=>"...") %>
		</td>
	</tr>
	<tr>
		<td width="120">
			Gener :
		</td>
		
		<td colspan="2">
		<%= @book.gener %>
		</td>
	</tr>
	<tr>
		<td width="120">
		<%= submit_tag("Delete") %>
		<% end %>
		</td>
		
		<td colspan="2">
		<%= button_to "Calcel",:controller => 'book',:action=>'show' ,:id=> @book.id %>
		</td>
	</tr>
</div>