<%if !flash[:notice].blank? %>
<div align="center" class="flash">
	<%=flash[:notice]%>
</div>
<%end%>
<%=render(:partial=>'shared/header_of_details',:locals=>{:object => @user } ) %>


<div align="center" class="book">

<h2>Add new Book to your favorite list</h2>
<table>



<tr height="60">
	<td width="100"><%= link_to(" back to records",{:action=>'list'} ) %></td>
	<td width="200"></td>
	<td></td>
</tr>

<%= form_for(:book, :url => { :action =>'create' ,:book=> @book.id} ) do |f| %>




	
<tr>
	<td width="100">Book name :</td>
	<td width="200"><%= f.text_field(:name) %></td>
	<td></td>
</tr>

<tr >
	<td align="top">Author : </td>
	<td><%= f.text_field(:author) %></td>
	<td></td>
</tr>

<tr>
	<td>Gener :</td>
	<td><%= f.text_field(:gener ) %></td>
	<td></td>
</tr>
 <tr>
	<td></td>
	<td><%= submit_tag("Add Book to list") %></td>
	<td></td>
</tr>
 


<% end %>
</table>

</div>
