<%if !flash[:notice].blank? %>
<div align="center" class="flash">
	<%=flash[:notice]%>
</div>
<%end%>
<%=render(:partial=>'shared/header_of_details',:locals=>{:object => @user } ) %>
<div align="center" class="movie">

<h3>Edit Movie details</h3>

<%= form_for(:movie, :url => { :action =>'update' ,:id=> @movie.id} ) do |f| %>
<table border="0">
	<tr>
		<td width="120">
			Movie name : 
		</td>
		<td colspan="2">
			<%= f.text_field(:name) %>
		</td>
	</tr>
<tr  valign="top">
		<td>
			Description :
		</td>
		<td colspan="2">
			<%= f.text_area(:desc,:size=>"29x5") %>
		</td>
	</tr>
	<tr>
		<td>
			Gener :
		</td>
		<td colspan="2">
		<%= f.text_field(:gener) %><br/>
		</td>
	</tr>
	
	<tr height="70">
		<td>
			
		</td>
		<td width="130">
			<%= submit_tag("Update") %>
			<% end %>
		</td><td>
		<%= button_to "Calcel", :controller => 'movie',:action=>'show' ,:id=> @movie.id%>
		</td>
	</tr>

</table>

</div>